<div class="rt-container">

  <!-- FORMULARIO -->
  <section class="product-form">
    <h2>Agregar producto</h2>

    <form id="productForm">
      <div class="form-grid">
        <input name="title" placeholder="Título" required />
        <input name="description" placeholder="Descripción" required />
        <input name="code" placeholder="Código" required />
        <input name="price" type="number" placeholder="Precio" required />
        <select name="status">
          <option value="true">True</option>
          <option value="false">False</option>
        </select>
        <input name="stock" type="number" placeholder="Stock" required />
        <input name="category" placeholder="Categoría" required />
        <input name="thumbnail" placeholder="URL Thumbnail" />
      </div>

      <div class="form-actions">
        <button type="submit">Agregar</button>
      </div>
    </form>
  </section>

  <!-- LISTADO DE PRODUCTOS -->
  <section>
    <div id="products" class="products-grid">
      // Codigo generado por realTimeProducts.js
    </div>
  </section>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeProducts.js"></script>
